<div class="section wrapped padded-v-sm">
	<h1>Qubase</h1>
	<h2>Examples</h2>
	<ul>
		{{#each qubaseExamples}}
			<li><a href="/qubase/{{this}}">{{this}}</a></li>
		{{/each}}
	</ul>

	<h1>{{pagetitle}}</h1>
	<ul>
		<li><a href="/style-guide">Style Guide</a></li>
		<li><a href="/pattern-library">Pattern Library</a></li>
	</ul>
	<h2>Pages</h2>
	<ul>
		{{#each pages}}
			<li><a href="{{this}}">{{this}}</a></li>
		{{/each}}
	</ul>
</div>
