<div class="section wrapped padded-v-sm">
	<h1>{{pagetitle}}</h1>
	<h2>Examples</h2>
	<ul>
		{{#each qubaseExamples}}
			<li><a href="/qubase/{{this}}">{{this}}</a></li>
		{{/each}}
	</ul>

	<h2>General</h2>
	<ul>
		<li><a href="/style-guide">Style Guide</a></li>
		<li><a href="/pattern-library">Pattern Library</a></li>
	</ul>
	<h3>Pages</h3>
	<ul>
		{{#each pages}}
			<li><a href="{{this}}">{{this}}</a></li>
		{{/each}}
	</ul>
</div>
